

img {
    max-width: 100%;
}

#duck {
    margin: 50px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.scoreContainer {
    background-color: black;
    width: 15%;
    height: 15%;
    color: #ffffff;
    top: 5%;
    right: 5%;
    border: 2px solid greenyellow;
    


}
